.cds--modal-content.add-tool-modal-body,
.cds--modal-scroll-content.add-tool-modal-body {
  padding: 1.5rem 2rem !important;
}

.add-tool-modal-body .cds--form-group {
  margin-bottom: 1rem;
}

.add-tool-modal-body .cds--form-group:last-of-type {
  margin-bottom: 0;
}
